<link
	href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/form.css" />
<div ng-controller="clienteDetalheController">

	<div class="form-style-8">
		<h2>Customer details</h2>
		<form>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="nome">Nome:
					{{cliente.nome}} </label>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="id">Id: {{cliente.id}}</label>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="Email">Email:
					{{cliente.email}}</label>
			</div>

		</form>
	</div>



</div>