<link
	href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'
	rel='stylesheet' type='text/css'>
	
<link rel="stylesheet" href="css/form.css" />



<script
	src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.js"></script>
	
<script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

 

<div ng-controller="clienteDetalheController">

	<div class="form-style-8">
		<h2>Customer details</h2>
		<form>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="nome">Nome:
					{{cliente.nome}} </label>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="id">Id: {{cliente.id}}</label>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="Email">Email:
					{{cliente.email}}</label>
			</div>
			
			<tags-input ng-model="tags" display-property="name" placeholder="Add a country" replace-spaces-with-dashes="false">
      			<auto-complete source="loadCountries($query)"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"
                     template="my-custom-template"></auto-complete>
    		</tags-input>
			<script type="text/ng-template" id="my-custom-template">
      			<div class="left-panel">
       				 <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" />
      			</div>
      			<div class="right-panel">
        			<span ng-bind-html="$highlight($getDisplayText())"></span>
       	 			<span>({{data.rank}})</span>
        			<span>{{data.confederation}}</span>
      			</div>
    		</script>
		</form>
	</div>



</div>