
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/form.css" />

<div ng-controller="clienteController">

	<div class="form-style-8">
		<h2>Customer registration</h2>
		<form name="frmCliente">
			<div class="controls">
				<input type="text" name="field1" placeholder="Name" ng-minlength="4"
					name="txtNomeCliente" ng-model="cliente.nome" required /> <span
					ng-show="frmCliente.txtNomeCliente.$error.required && frmCliente.txtNomeCliente.$dirty">Campo
					nome obrigatório</span> <span
					ng-show="frmCliente.txtNomeCliente.$error.minlength">Campo
					nome com no minimo 4 letras</span>
			</div>
			<div class="controls">
				<input type="email" name="field2" placeholder="Email"
					name="txtEmailCliente" ng-model="cliente.email" required /> <span
					ng-show="frmCliente.txtEmailCliente.$error.required && frmCliente.txtEmailCliente.$dirty">Campo
					email obrigatório</span> <span
					ng-show="frmCliente.txtEmailCliente.$error.email">Campo
					email Inválido</span>
			</div>
			<input type="button" value="Register" ng-click="salvarCliente()"
				ng-disabled="frmCliente.$invalid" /> <input type="button"
				value="Cancel" ng-click="cancelarEdicao()"
				ng-disabled="frmCliente.$invalid" />
		</form>
	</div>



	<div ng-repeat="cli in clientes">

		{{cli.nome}} <input type="button" value="Excluir"
			ng-click="excluirCliente(cli)" /> <input type="button"
			value="Editar" ng-click="editarCliente(cli)" /> <a
			href="/clientes/{{cli.id}}">Detalhes</a>
	</div>

</div>



