<div ng-controller="clienteDetalheController">
	
	<form class="form-horizontal">
	<fieldset>
	
	<!-- Form Name -->
	<legend>Detalhes do cliente</legend>
	
	<!-- Text input-->
	<div class="control-group">
	  <label class="control-label" for="nome">Nome: {{cliente.nome}}	</label>
	</div>
	
	<!-- Text input-->
	<div class="control-group">
	  <label class="control-label" for="id">Id: {{cliente.id}}</label>
	</div>
	
	<!-- Text input-->
	<div class="control-group">
	  <label class="control-label" for="Email">Email: {{cliente.email}}</label>
	</div>
	
	</fieldset>
	</form>
</div>