

<div ng-controller="loginController">
	<form class="form-horizontal" name="frmCliente">
	<fieldset>
	
	<!-- Form Name -->
	<legend>Login de usuário</legend>
	
	<!-- Text input-->
	<div class="control-group">
	  <label class="control-label" for="nome">Nome</label>
	  <div class="controls">
	    <input id="nome" type="text" placeholder="Digite seu username" class="input-large" ng-model="usuario.nome">
	  </div>
	</div>
	
	<!-- Text input-->
	<div class="control-group">
	  <label class="control-label" for="Email">Senha</label>
	  <div class="controls">
	    <input id="Email" type="password" placeholder="Digite seu password" class="input-large" ng-model="usuario.senha">
	  </div>
	</div>
	
	<!-- Button -->
	<div class="control-group">
	  <label class="control-label" for="enviar"></label>
	  <div class="controls">
	    <button id="enviar" name="enviar" class="btn btn-primary" value="Salvar" ng-click="autenticar()">Login</button>
	  </div>
	</div>
	
	</fieldset>
	</form>
	Token: {{token}}
</div>

